.header {
    display: flex;
}

.left_part {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%
}

.logo_container {
    margin-top: 40px;
}

.with_margin {
    margin-left: 180px;
}

.black_rectangle {
    width: 40px;
    height: 40px;
    background-color: #000000;
    margin-left: -40px;
    margin-top: 160px;
}

.button {
    width: 200px;
    height: 40px;
    margin-top: 50px;
    border: 2px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}

.right {

}

img {
    width: 120px;
    height: 50px;
}

h1 {
    width: 520px;
    font-size: 80px;
    margin: 60px 0 0 0;
}